@import "./utilities/variables";
@import "./globals/resetstyles";
@import "./utilities/mixin";

/* header */
.header {
    background-color: #191919;
}

.navbar-nav {
    font-family: $font-family-rad;
    text-transform: uppercase;
    font-size: 2rem;

    .nav-item {
        list-style-type: none;

        .nav-link {
            text-decoration: none;
            color: white;
        }

        .nav-link:hover {
            color: white;
        }
    }
}

.bt-redes:hover {
    transform: scale(1.2);
}

/* sections-banner */

.logo {
    height: 100px;
    object-fit: cover;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    text-align: center;
}

.title-banner {
    position: absolute;
    top: 60%;
    left: 50%;
    padding: 0 1rem;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;

    .h-1-a {
        font-family: $font-family-bar;
        font-size: $font-h-medium;
        text-transform: lowercase;
        font-weight: 700;
    }

    .h-1-b {
        font-family: $font-family-rad;
        font-size: $font-h-large;
    }
}

/* datos-pagos-envios */
.datos {
    font-family: $font-family-bar;
    font-weight: 700;

    .card-link:hover {
        transform: scale(1.2);
    }
}

/* carousel-nuevos lanzamientos */
.cd {
    max-width: 1200px;
    border-radius: 50px;
    background-color: black;

    .carousel-img {
        height: 700px;
        width: 350px;
        object-fit: cover;
    }

    .carousel-inner {
        border-radius: 50px;
    }
}

.card__nl {
    font-family: $font-family-rad;
    color: white;

    &__link {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        text-decoration: none;
    }

    &__p {
        font-family: $font-family-bar;
        font-size: 1.5rem;
    }
}

// titulos-destacados-categorias
h2 {
    @include titulos;
}

/* sections-destacados */

.section-dest {
    margin-top: 2rem;
    .art-destacados {
        font-family: $font-family-bar;
        text-transform: uppercase;
    }
    .btn-dest {
        border-radius: 30px;
        font-weight: 600;
    }
}

/* section-categorias */
.section-cat {
    margin-top: 5rem;
    .img-2 {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .img-1 {
        @extend .img-2;
        height: 500px;
    }
    .d-1 {
        position: relative;
        .bt-1 {
            position: absolute;
            bottom: 2%;
            left: 6%;
        }
    }
    .d-2 {
        position: relative;

        .bt-2 {
            position: absolute;
            bottom: 52%;
            left: 6%;
        }
    }

    .d-3 {
        position: relative;

        .bt-3 {
            position: absolute;
            bottom: 4%;
            left: 6%;
        }
    }

    .btn-cat {
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        border-radius: 30px;
        padding-left: 10rem;
        padding-right: 10rem;

        .btn:hover {
            color: white;
        }
    }
}

/* footer */
.footer {
    background-color: #191919;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;

    .li-item {
        list-style-type: none;
        font-size: 2rem;

        & a {
            text-decoration: none;
            color: white;
        }
    }

    p {
        font-size: 1.5rem;
    }

    .logo-footer {
        height: 80px;
    }

    @media screen and (min-width: 768px) {
        .ocultar-line {
            display: none;
        }
    }

    .line {
        height: 5px;
        border: none;
        background: #e5e5e5;
        opacity: unset;
    }

    /* contacto */
    .h-form {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 900;

        .form-group {
            font-family: 'Barlow Condensed', sans-serif;
        }
    }
}

/* estilos-pages */

/* header-pages */
.header-pages {
    background-color: #191919;
}
.card-hoodie {
    width: 300px;
}
.card-accesorios{
    @extend .card-hoodie;
}

// estilos-cards-pages

.div-card {
        @include cards;

        h3 {
            @include card-body (2rem, 600);
        }

        p {
            @include card-body (2rem, 600);
        }

        .btn-pages {
            @include card-body (1.5rem, 600);
        }
    }
